# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore environment files
.env
.env.local

# Ignore logs and temp files
log/
tmp/

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore local configuration files
*.local.json

# Ignore Visual Studio Code configuration
.vscode/

# Ignore macOS system files
.DS_Store
